    mat-card {
      border: 1px solid #8b90ad;
      background-color: #171a2e;
      border-radius: 6px;
      padding: 20px;
      display: block;
      width: 100%;
      float: left;
      align-items: center;

      p,
      span {
        display: inline-flex;
      }

      p {
        padding-right: 30px;
        margin: 0px;
        font-size: 14px;
        color: #6c7191;
        font-family: "SLB Sans Medium";
        text-transform: uppercase;
        font-weight: 500;
      }

      span {
        font-size: 16px;
        color: #ebecf2;
        font-weight: 700;
        letter-spacing: 5%;
      }
    }