.example-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 28rem;
    // width: 50%;
    box-shadow: none;
    width: 100%;
  }
  
  table {
    width: 100%;
    .priority-custom {
      width: 180px;
    }

  }
 
  