.algomit-inneraccordions{

    ::ng-deep .wellifo-accordion{
         margin-top:20px;

         .mat-expansion-panel-content{
            .mat-expansion-panel-body{
                padding:25px;
            }
         }

        .mat-accordion{
            margin-bottom:10px;
            width:100%;
            display: block;
        }
         .col-md-6{

            &:first-child{
                width:80% !important;
            }

            &:last-child{
                width:20% !important;
            }
          
         }

         ul{
            margin:0px;
            padding:0px;

            li{
                list-style:none;
                width:100%;
                display: block;
                padding-bottom: 40px;

                &:last-child{
                    padding-bottom: 0px;
                }
    
                .label{
                    font-size:16px;
                    color:#EBECF2;
                    font-family: 'SLB Sans Regular';
                }
    
             }
         }

       

        .mat-expansion-panel{
            background: #171A2E;
            border:1px solid #8B90AD;
            border-radius:10px;
        }
    
        .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]){
            background: none !important;
        }
    
        .select-filter-action-btn{
            padding: 0px;
        }
    
        .select-filter-action-btn .action-btn{
            width: 70px;
        }
    
        h3{
            font-size: 16px;
            font-family: 'SLB Sans Regular' !important;
            line-height: 32px;
            font-weight: 500;
            color: #ADB1C7 !important;
            margin:0px;
           padding-left: 30px;
    
        }
    
        .mat-expansion-indicator{
            position: absolute !important;
            left:30px;
          
        }

        .select-filter{
            padding:17px 17px 0 17px;
        }

        .mdc-label{
            display: none !important;
        }


        .calender-alrt-filter-action-btn-grp{
            border-top:none !important;
            padding:20px !important;
        }
    
    
        .accordion-content{
            p,span{
                padding:10px;
                margin: 0px;
                display: block;
    
            
    
                &:first-child{
                    border-bottom: 1px solid #8B90AD
                    ;
    
                }
                &:last-child{
                    border-top:1px solid #8B90AD;
                    ;
                }
            }
    
    
            p{
                font-size: 12px;
                color: #6C7191;
                line-height:16px;
                font-weight: 500;
                font-family: 'SLB Sans Regular' !important;
            }
    
            span{
                font-size: 23px !important;
                font-family: 'SLB Sans Regular' !important;
                font-weight: 700;
                color:#EBECF2;
    
    
            }
        }
    
    
      
        .mat-expansion-panel-header{
            height: 60px;
            border-bottom: 1px solid #EBECF2;
            border-radius: 2px;
        }
    
       
        .container{
            width:100%;
    
            mat-card{
                background-color: #171A2E;
                border:1px solid #8B90AD;
                border-radius: 6px;
                min-height: 130px;
                justify-content: center;
            }
        }
    
        .top-icons{
            ul{
                margin:0px;
                li{
                    display: inline-block;
                    padding-right: 10px;
                    vertical-align: middle;
                }
            }
        }
        .example-action-buttons {
            padding-bottom: 20px;
          }
          
          .example-headers-align .mat-expansion-panel-header-title,
          .example-headers-align .mat-expansion-panel-header-description {
            flex-basis: 0;
          }
          
          .example-headers-align .mat-expansion-panel-header-description {
            justify-content: space-between;
            align-items: center;
          }
          
          .example-headers-align .mat-form-field + .mat-form-field {
            margin-left: 8px;
          }
          
          .my-panel { 
            width: 100%;
            display: flex;
            justify-content: space-between;
          } 
         
    }

}
