<div class="algomit-inneraccordions">
 <div class="wellifo-accordion" (click)="$event.stopPropagation();">
<mat-accordion class="example-headers-align" multi>
   
    <mat-expansion-panel [expanded] =true>
      <mat-expansion-panel-header>
        <div class="my-panel"  (click)="$event.stopPropagation();">
          <h3>Mitigations</h3>

        </div>
      </mat-expansion-panel-header>
  
      <div class="accordion-content">
        <div class="container">
            <div class="row">
                <ul>
                    <li class="margin30">
                        <div class="col-md-6 label">
                            Flatlining
                         </div>
                         <div class="col-md-6">
                            <div class="toggle-button-txt">
             
                                <mat-slide-toggle>Show Legends</mat-slide-toggle>
            
                            </div>
                        
                         </div>
                    </li>
                    <li class="margin30">
                        <div class="col-md-6 label">
                            Tagging
                         </div>
                         <div class="col-md-6">
                            <div class="toggle-button-txt">
             
                                <mat-slide-toggle>Show Legends</mat-slide-toggle>
            
                            </div>
                         
                         </div>
                    </li>

                    <li class="margin30">
                        <div class="col-md-6 label">
                            Fluid Pound
                         </div>
                         <div class="col-md-6">
                            <div class="toggle-button-txt">
             
                                <mat-slide-toggle>Show Legends</mat-slide-toggle>
            
                            </div>
                         
                         </div>
                    </li>


                    <li class="margin30">
                        <div class="col-md-6 label">
                            Gas interference
                         </div>
                         <div class="col-md-6">
                            <div class="toggle-button-txt">
             
                                <mat-slide-toggle>Show Legends</mat-slide-toggle>
            
                            </div>
                        
                         </div>
                    </li>


                  

                </ul>
            
      
           
            </div>
        </div>
     </div>
    </mat-expansion-panel>
  </mat-accordion>

 

  <mat-accordion class="example-headers-align" multi>
   
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="my-panel"  (click)="$event.stopPropagation();">
          <h3>Algorithms</h3>

        </div>
      </mat-expansion-panel-header>
  
      <div class="accordion-content">
        <div class="container">
            <div class="row">
                <ul>
                    <li class="margin30">
                        <div class="col-md-6 label">
                            Production Optimizer PI
                         </div>
                         <div class="col-md-6">
                            <div class="toggle-button-txt">
             
                                <mat-slide-toggle>Show Legends</mat-slide-toggle>
            
                            </div>
                        
                         </div>
                    </li>
                    <li class="margin30">
                        <div class="col-md-6 label">
                            Production Optimizer CI

                         </div>
                         <div class="col-md-6">
                            <div class="toggle-button-txt">
             
                                <mat-slide-toggle>Show Legends</mat-slide-toggle>
            
                            </div>
                         
                         </div>
                    </li>

               

                </ul>
            
      
           
            </div>
        </div>
     </div>
    </mat-expansion-panel>
  </mat-accordion>


  <mat-accordion class="example-headers-align" multi>
   
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="my-panel"  (click)="$event.stopPropagation();">
          <h3>POC settings</h3>

        </div>
      </mat-expansion-panel-header>
  
      <div class="accordion-content">
        <div class="container">
            <div class="row">
                <ul>
                    <li class="margin30">
                        <div class="col-md-6 label">
                            Primary Fillage
                         </div>
                         <div class="col-md-6">
                            <div class="toggle-button-txt">
             
                                <mat-slide-toggle>Show Legends</mat-slide-toggle>
            
                            </div>
                        
                         </div>
                    </li>
                    <li class="margin30">
                        <div class="col-md-6 label">
                            Secondary Pump Fillage
                         </div>
                         <div class="col-md-6">
                            <div class="toggle-button-txt">
             
                                <mat-slide-toggle>Show Legends</mat-slide-toggle>
            
                            </div>
                         
                         </div>
                    </li>

                  

                </ul>
            
      
           
            </div>
        </div>
     </div>
    </mat-expansion-panel>
  </mat-accordion>


  <div _ngcontent-ng-c4221580924="" class="calender-alrt-filter-action-btn-grp"><button _ngcontent-ng-c4221580924="" mat-flat-button="" class="action-btn">Apply to this graph</button><button _ngcontent-ng-c4221580924="" mat-flat-button="" class="action-btn active marginL20">Apply to all graphs</button></div>



  </div> 

</div>
