.container {
    /* width: 600px; */
    border: 1px solid #ececec;
    margin: 30px auto;
}
p.title {
    font-size: 14px;
    font-weight: 600;
}
.yesterday-cycle-count-chart {
    width: 100%;
    min-height: 228px; 
    display: block;
}