<div class="dynacard-content">
   <div class="container-fluid">
      <div class="d-flex">
         <div class="row">
            <div class="col-md-10">
               <div class="row">
                  <div class="col-md-4" *ngFor="let summary of dynacardSummaryData">
                     <mat-card>
                        <p>{{ summary.label }}</p>
                        <span>{{ summary.value }}</span>
                     </mat-card>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="dynacard-sec-block">
         <div class="dynacard-sec-left">
            <div class="dynacard-sec-left-header">
               <div class="dynacard-sec-left-header-short">
                  <div class="show-shorting-period">
                     <div *ngIf="selectedRangeValue">
                        {{selectedRangeValue.start | date:'yyyy-MM-dd HH:mm:ss' }}
                        <br>
                        TO
                        <br>
                        {{selectedRangeValue.end | date:'yyyy-MM-dd HH:mm:ss' }}
                     </div>
                  </div>
                  <div class="select-shorting-period">
                     <button class="action-btn none-active">1h</button>
                     <button class="action-btn none-active">4h</button>
                     <button class="action-btn none-active">12h</button>
                     <button class="action-btn none-active">1d</button>
                     <button class="action-btn none-active">1w</button>
                     <button class="action-btn none-active">1m</button>
                     <button class="action-btn none-active" [ngClass]="{'active-btn': activeTimeRange == '3m'}"
                        (click)="bubbleChartTimeSelection('3m')">3m</button>
                     <button mat-icon-button [matMenuTriggerFor]="calenderFilter"
                        aria-label="Example icon-button with a menu" class=" button-type-none">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M5.76562 7.75H4.26562V9.25H5.76562V7.75ZM9.10547 7.75781H7.60547V9.25781H9.10547V7.75781ZM10.9492 7.75781H12.4492V9.25781H10.9492V7.75781ZM15.7891 7.75781H14.2891V9.25781H15.7891V7.75781ZM14.8281 11.6953L13.6084 12.915L12.3896 11.6953L11.3281 12.7559L12.5488 13.9756L11.3281 15.1953L12.3896 16.2559L13.6084 15.0361L14.8281 16.2559L15.8896 15.1953L14.6699 13.9756L15.8896 12.7559L14.8281 11.6953ZM6.39746 12.915L7.61719 11.6953L8.67871 12.7559L7.45801 13.9756L8.67871 15.1953L7.61719 16.2559L6.39746 15.0361L5.17871 16.2559L4.11719 15.1953L5.33691 13.9756L4.11719 12.7559L5.17871 11.6953L6.39746 12.915ZM15.2656 4.49512V3.00781H18.501V18.498H1.5V3.00781H4.73926V4.49512H6.23926V3.00781H13.7656V4.49512H15.2656ZM13.7666 0V1.50977H6.24023V0H4.74023V1.50977H0V20H20V1.50977H15.2666V0H13.7666Z"
                              fill="white" />
                        </svg>
                     </button>
                     <button mat-icon-button aria-label="Example icon-button with a menu" class=" button-type-none">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M17.0527 2.93254C15.208 1.10189 12.6943 0 10.0005 0C4.48633 0 0 4.46343 0 9.95004C0 15.4362 4.48633 19.9001 10.0005 19.9001C15.5146 19.9001 20 15.4362 20 9.95004H18.5C18.5 14.6132 14.6875 18.4076 10.0005 18.4076C5.31348 18.4076 1.5 14.6132 1.5 9.95004C1.5 5.28645 5.31348 1.49251 10.0005 1.49251C12.29 1.49251 14.4268 2.42921 15.9951 3.98488L13 6.96503H18.2188H20V5.319V0L17.0527 2.93254Z"
                              fill="white" />
                        </svg>
                     </button>
                     <button mat-icon-button aria-label="Example icon-button with a menu" class=" button-type-none">
                        <svg width="20" height="20" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M0 0H3.95861L2.35151 1.60812L5.09608 4.35303L4.35372 5.0954L1.60915 2.35049L0.00136714 3.95861L0 0ZM1.60973 11.6469L4.3543 8.90234L5.09667 9.64471L2.3521 12.3893L3.95919 13.9977L0.00195312 13.9984V10.0391L1.60973 11.6469ZM9.64666 5.09609L12.3912 2.35117L13.999 3.95929V0L10.0418 0.000683606L11.6489 1.6088L8.9043 4.35372L9.64666 5.09609ZM13.999 10.043L14.0004 14.0017H10.0418L11.6489 12.3939L8.9043 9.64862L9.64666 8.90625L12.3912 11.6515L13.999 10.043Z"
                              fill="white" />
                        </svg>
                     </button>
                  </div>
               </div>
               <div class="dynacard-sec-left-header-title">
                  Cards
               </div>
            </div>
            <div class="dynacard-sec-container-block">
               <div class="dynacard-sec-left-contain-block">
                  <div class="data-container-block-first">
                     <!-- <p>Data will be displayed here</p> -->
                     <div style="width: 100%; display: block" id="bubble-chart-v2">
                        <highcharts-chart [Highcharts]="Highcharts" [options]="bubbleChartOptions"
                           [(update)]="bubbleChartUpdate" [oneToOne]="true"
                           style="width:100%; min-height: 100%; display: block">
                        </highcharts-chart>
                     </div>
                  </div>

               </div>
               <div class="dynacard-sec-right-contain-block">
                  <div class="data-container-right-block-first">
                     <div class="card-status-section" *ngFor="let data of bubbleChartInfo; let i = index">
                        <div class="card-status-lebel">
                           <span [ngClass]="data.symbolClass"></span>{{data.type}}
                        </div>
                        <div class="card-status-count color-aqua">{{data.value}}</div>
                     </div>
                     <table mat-table [dataSource]="listOfTime | async " class="mat-elevation-z8">
                        <ng-container matColumnDef="#">
                           <th mat-header-cell *matHeaderCellDef class="checkbox-section"> # </th>
                           <td mat-cell *matCellDef="let element" class="checkbox-section">
                              <mat-checkbox class="checklist-leaf-node"
                                 [checked]="selectionTimeModel.isSelected(element.frame)"
                                 (change)="selectTime(element.frame)">
                              </mat-checkbox>
                           </td>
                        </ng-container>

                        <ng-container matColumnDef="card">
                           <th mat-header-cell *matHeaderCellDef>Card</th>
                           <td mat-cell *matCellDef="let element">
                              <span [ngClass]="getMarkerForClassification(element.classfication)"></span>
                              {{element.classfication}}
                           </td>
                        </ng-container>


                        <ng-container matColumnDef="time">
                           <th mat-header-cell *matHeaderCellDef> Time</th>
                           <td mat-cell *matCellDef="let element"> {{element.frame | date:'yyyy-MM-dd HH:mm:ss' }} </td>
                        </ng-container>


                        <ng-container matColumnDef="minimunpolishedrodload">
                           <th mat-header-cell *matHeaderCellDef> Minimum Polishedrodload </th>
                           <td mat-cell *matCellDef="let element"> 1.0079 </td>
                        </ng-container>


                        <ng-container matColumnDef="peakpolishedrod">
                           <th mat-header-cell *matHeaderCellDef>Peak Polishedrod</th>
                           <td mat-cell *matCellDef="let element"> 30,310 lbs </td>
                        </ng-container>

                        <tr *matNoDataRow class="mat-mdc-row mdc-data-table__row cdk-row ng-star-inserted">
                           <td class="mat-mdc-cell mdc-data-table__cell cdk-cell ng-star-inserted text-center"
                              *ngIf="tableLoading" [attr.colspan]="displayedColumns.length">
                              <mat-progress-spinner mode="indeterminate" class="table-progressbar"
                                 style="margin:0 auto;"></mat-progress-spinner>
                           </td>
                           <td class="mat-mdc-cell mdc-data-table__cell cdk-cell ng-star-inserted text-center"
                              *ngIf="!tableLoading">No Record Found.</td>
                           <!-- <td class="mat-mdc-cell mdc-data-table__cell cdk-cell ng-star-inserted text-center" *ngIf="!tableLoading && (selectedClassification | async) <= 0" [attr.colspan]="displayedColumns.length">Please select Classification.</td> -->
                        </tr>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                     </table>
                  </div>
               </div>
            </div>

            <div class="dynacard-sec-right-second">
               <div class="dynacard-sec-right-header">
                  <div class="dynacard-sec-right-header-title">
                     Cards Details
                  </div>
               </div>
               <div class="dynacard-sec-right-sub-header">
                  <div class="dynacard-sec-right-sub-header-title">
                     <div class="main-title">
                        <span class="circle bgcolor-aqua"></span> Pump Tagging
                     </div>
                     <span class="date-time">{{selectedTimeDetails?.id }}</span>
                  </div>
                  <div class="select-classification">
                     <mat-form-field>
                        <mat-select placeholder="Change Classification">
                           <mat-option *ngFor="let welldata of classficationListdata" [value]="welldata.value">
                              {{welldata.viewValue}}

                           </mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>
                  <div>
                     <button mat-raised-button type="button" class="btn-default" value="Save">Save</button>
                  </div>
               </div>
               <div class="divider"></div>
               <div class="card-details-block">
                  <div *ngFor="let summary of selectedTimeDetails | keyvalue ">
                     <div class="mat-card" *ngIf="summary.key !== 'id'">
                        <p class="pera-first">{{mappingOfFields[summary.key]}}</p>
                        <p class="pera-second">{{summary.value}}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- calender filter start-->
<mat-menu #calenderFilter="matMenu" class="filter-container">
   <div class="align-center">
      <div class="calender-alrt-filter">
         <div class="calender-alrt-filter-header">
            <div class="calender-alrt-filter-title">Select</div>
            <button mat-icon-button class="calender-alrt-filter-close button-type-none"><svg width="16" height="16"
                  viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                     d="M16 1.13594L14.8664 0L8 6.88125L1.13359 0L0 1.13594L6.86641 8.01719L0.034375 14.8641L1.16797 16L8 9.15312L14.832 16L15.9656 14.8641L9.13359 8.01719L16 1.13594Z"
                     fill="#CCCFDE" />
               </svg>
            </button>
         </div>
         <div class="calender-alrt-filter-section-date-range">
            <div class="calender-alrt-filter-date-range-title">Select Data Range</div>
            <div class="calender-alrt-filter-section-colender">
               <mat-calendar [selected]="selectedRangeValue" (click)="$event.stopPropagation()"
                  (selectedChange)="selectedChange($event)">
               </mat-calendar>
            </div>
         </div>
         <div class="calender-alrt-filter-action-btn-grp">
            <button mat-flat-button class="action-btn" (click)="bubbleChartTimeSelection('3m')">Reset</button>
            <button mat-flat-button class="action-btn active marginL20"
               (click)="bubbleChartTimeSelection('cal')">Apply</button>
         </div>
      </div>
   </div>
</mat-menu>