
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-3 ">
               <mat-card class="text-center">
                  <p><label for="">Current SPM</label> <span class="label-val">{{dataResult?.spm}} spm</span></p>
               </mat-card>
            </div>
            <div class="col-md-3 ">
               <mat-card class="text-center">
                  <p><label for="">Pump Fillage</label> <span class="label-val">{{dataResult?.pumpFillage}}%</span></p>
               </mat-card>
            </div>
            <div class="col-md-3 ">
               <mat-card class="text-center">
                  <p><label for="">Well State</label> <span class="label-val">{{dataResult?.wellState}}</span></p>
               </mat-card>
            </div>
            <div class="col-md-3 ">
               <mat-card class="text-center">
                  <p><label for="">Pump Card Diagnistics</label> <span class="label-val">{{dataResult?.pumpCardDiagnistics}}</span></p>
               </mat-card>
            </div>
            <div class="col-md-3 ">
               <mat-card class="text-center">
                  <p><label for="">Inferred Production</label> <span class="label-val">{{dataResult?.inferredProduction || '--'}} bbls/day</span></p>
               </mat-card>
            </div>
            <div class="col-md-3 ">
               <mat-card class="text-center">
                  <p><label for="">Load</label> <span class="label-val">{{dataResult?.load || '--'}}</span></p>
               </mat-card>
            </div>
         </div>
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 ">
            <app-well-info-image-description [wellId]="currentWellId"></app-well-info-image-description>
         </div>
      </div> 
   </div>