<div class="dynacard-sec-right-second">
   <div class="dynacard-sec-right-header">
      <div class="dynacard-sec-right-header-title">
         Cards Details
      </div>
   </div>
   <div class="dynacard-sec-right-sub-header">
      <div class="dynacard-sec-right-sub-header-title">
         <div class="main-title">
            <span class="circle bgcolor-aqua"></span> Pump Tagging
         </div>
         <span class="date-time">{{selectedTimeDetails?.id}}</span>
      </div>
      <div class="select-classification">
         <mat-form-field>
            <mat-select placeholder="Change Classification">
               <mat-option *ngFor="let welldata of welldata" [value]="welldata.value">
                  {{welldata.viewValue}}

               </mat-option>
            </mat-select>
         </mat-form-field>
      </div>
   </div>
   <div class="divider"></div>
   <div class="card-details-block">
      <div *ngFor="let summary of selectedTimeDetails | keyvalue ">
         <div class="mat-card" *ngIf="summary.key !== 'id'">
            <p class="pera-first">{{mappingOfFields[summary.key]}}</p>
            <p class="pera-second">{{summary.value}}</p>
         </div>
      </div>
   </div>
</div>