<table mat-table [dataSource]="listOfTime |async" class="mat-elevation-z8">

    <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> 
            <mat-checkbox class="checklist-leaf-node" [checked]="selectionTimeModel.isSelected(element)"
            (change)="selectTime(element)">
          </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element}} </td>
    </ng-container>

    <ng-container matColumnDef="Change">
        <th mat-header-cell *matHeaderCellDef> Change</th>
        <td mat-cell *matCellDef="let element">
            
        </td>
    </ng-container>

    <ng-container matColumnDef="Classfication">
        <th mat-header-cell *matHeaderCellDef> Classfication</th>
        <td mat-cell *matCellDef="let element">
            Normal
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- 
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Time</th>
        <th scope="col"></th>
        <th scope="col">Classfication</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of (listOfTime |async)">
        <th scope="row">
            <mat-checkbox class="checklist-leaf-node" [checked]="selectionTimeModel.isSelected(item)"
            (change)="selectTime(item)">
            {{item}}
          </mat-checkbox>
        </th>
        <td>{{item}}</td>
        <td></td>
        <td>Normal</td>
      </tr>
    </tbody>
  </table> -->
