<div class="generic-tab">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Gateway">
            <div class="">
                <div class="col-md-12 save-list-sec-section">
                    <div class="col-md-3">
                        <div class="form-field-sec-section">
                            <div class="input-lbl">Type</div>
                            <mat-form-field class="">
                                <input matInput placeholder="Agora_Gateway" value="">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-field-sec-section">
                            <div class="input-lbl">&nbsp;</div>
                            <div class="buutonsection">
                                <button class="button-type-none">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M16 3.92109L12.0711 0L9.80391 2.26445L0 12.0492L0.00117184 16L3.90078 15.9984L12.9508 6.96523L12.9523 6.96602L16 3.92109ZM14.3156 3.92188L12.9539 5.28359L10.7078 3.0418L12.0711 1.68086L14.3156 3.92188ZM3.41016 14.8063L1.2332 12.4992L9.86484 3.88555L12.1086 6.125L3.41016 14.8063Z"
                                            fill="white" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-field-sec-section">
                            <div class="input-lbl">&nbsp;</div>
                            <div class="">
                                <button class="black-border-button">Gateway Configuration</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 save-list-sec-section">
                    <div class="col-md-3">
                        <div class="form-field-sec-section">
                            <div class="input-lbl">ID</div>
                            <mat-form-field class="">
                                <input matInput placeholder="Am1" value="">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 save-list-sec-section">
                    <div class="col-md-3">
                        <div class="form-field-sec-section">
                            <div class="input-lbl">Serial Number</div>
                            <mat-form-field class="">
                                <input matInput placeholder="2345123456" value="">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 save-list-sec-section">
                    <div class="col-md-3">
                        <div class="form-field-sec-section">
                            <div class="input-lbl">Contract ID</div>
                            <mat-form-field class="">
                                <input matInput Placeholder text="Chord_Anderson7-18H_WillistonND" value="">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 save-list-sec-section">
                    <div class="col-md-3">
                        <div class="form-field-sec-section">
                            <div class="input-lbl">Client Name</div>
                            <mat-form-field class="">
                                <input matInput Placeholder text="OASIS" value="">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 save-list-sec-section">
                    <div class="col-md-3">
                        <div class="form-field-sec-section">
                            <div class="input-lbl">Description</div>
                            <mat-form-field class="">
                                <textarea matInput placeholder="Placeholder text..."></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label=" Shutdown & Startups"> Pollset
        </mat-tab>
        <mat-tab label="Charting">Charting Content 3</mat-tab>
        <mat-tab label="Devices">
            <!--Devices start here-->
            gh
            <!--Devices end here-->
        </mat-tab>
        <mat-tab label="Pump Test">Alarms</mat-tab>
        <mat-tab label="Reports">Notifications</mat-tab>
    </mat-tab-group>
</div>